.DS_Store
.coveralls.yml
.ruby-gemset
.nyc_output
coverage
node_modules
config.js
docker-compose.override.yml
newrelic.js
*.log
restart.sh
config/deploy
config/deploy.rb
public/taxa.txt
public/uploads/
lib/vision/**
!lib/vision/cache_images.js
!lib/vision/file_cache.js
!lib/vision/image_cache.js
!lib/vision/photos_csv_transformer.js
cache/**
log/**
openapi/uploads/**
lib/tasks/**.csv
env.list
build
.vscode
