API_HOST=192.168.2.234
INAT_DB_HOST=pg01
INAT_DB_USER=postgres
INAT_DB_PASS=password
INAT_ES_HOST=http://es01
INAT_REDIS_HOST=redis01
INAT_WEB_HOST=192.168.2.234
INAT_VISION_URL=vision01
NODE_ENV=production

